<launch>
  <arg name="external_manager"    default="false"/>
  <arg name="manager"             default="realsense2_camera_manager"/>
  <arg name="required"            default="false"/>
  <group ns="camera">
		<node pkg="image_view" type="image_view" name="d435_color" args="image:=/camera/color/image_raw"/>
		<node unless="$(arg external_manager)" pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen" required="$(arg required)"/>
		<node pkg="nodelet" type="nodelet" name="realsense2_camera" args="load realsense2_camera/RealSenseNodeFactory $(arg manager)" required="$(arg required)"/>
  </group>
</launch>
