<!--
     This launch file provides an example of how to use ekf as nodelet or as node in one launch file.
     By providing arguments like "use_nodelets this launch file will start a nodelet instead of a node.
     This is very usefull in experimental setup to allow easy switch between nodelets and node.
     Also it allows you to specify the manager the nodelet should run in.
-->

<launch>
  <arg name="camera1"              			default="t265"/>
  <arg name="camera2"              			default="d435"/>
  <arg name="tf_prefix_camera1"         default="$(arg camera1)"/>
  <arg name="tf_prefix_camera2"         default="$(arg camera2)"/>
  <arg name="initial_reset"             default="false"/>
  <arg name="enable_fisheye_camera1"    default="false"/>
  <arg name="enable_fisheye_camera2"    default="true"/>
  <arg name="window_width"               default="640"/>
  <arg name="window_height"              default="480"/>
  <arg name="topic_odom_in"             default="odom_in"/>
  <arg name="calib_odom_file"           default=""/>
  <arg name="publish_tf"                default="true"/>
  <arg name="tf_publish_rate"           default="0"/>

  <group ns="$(arg camera1)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="device_type"           value="t265"/>
      <arg name="tf_prefix"         		value="$(arg tf_prefix_camera1)"/>
      <arg name="initial_reset"         value="$(arg initial_reset)"/>
      <arg name="enable_fisheye1"       value="$(arg enable_fisheye_camera1)"/>
      <arg name="enable_fisheye2"       value="$(arg enable_fisheye_camera1)"/>
      <arg name="topic_odom_in"         value="$(arg topic_odom_in)"/>
      <arg name="calib_odom_file"       value="$(arg calib_odom_file)"/>
      <arg name="publish_odom_tf"       value="true"/>
    </include>
  </group>

  <group ns="$(arg camera2)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="device_type"           		value="d435"/>
      <arg name="tf_prefix"                	value="$(arg tf_prefix_camera2)"/>
      <arg name="external_manager"         	value="false"/>

      <arg name="enable_pointcloud"        value="true"/>
      <arg name="pointcloud_texture_stream" value="RS2_STREAM_COLOR"/>
      <arg name="pointcloud_texture_index"  value="0"/>
      <arg name="enable_sync"              value="true"/>
      <arg name="align_depth"              value="true"/>

      <arg name="fisheye_width"            value="640"/>
      <arg name="fisheye_height"           value="480"/>
      <arg name="enable_fisheye1"           value="$(arg enable_fisheye_camera2)"/>
      <arg name="enable_fisheye2"           value="$(arg enable_fisheye_camera2)"/>

      <arg name="depth_width"              value="$(arg window_width)"/>
      <arg name="depth_height"             value="$(arg window_height)"/>
      <arg name="enable_depth"             value="true"/>

      <arg name="color_width"              value="$(arg window_width)"/>
      <arg name="color_height"             value="$(arg window_height)"/>
      <arg name="enable_color"             value="true"/>

      <arg name="infra_width"              value="$(arg window_width)"/>
      <arg name="infra_height"             value="$(arg window_height)"/>
      <arg name="enable_infra1"            value="true"/>
      <arg name="enable_infra2"            value="true"/>

      <arg name="fisheye_fps"              value="30"/>
      <arg name="depth_fps"                value="30"/>
      <arg name="infra_fps"                value="30"/>
      <arg name="color_fps"                value="30"/>
      <arg name="gyro_fps"                 value="400"/>
      <arg name="accel_fps"                value="250"/>
      <arg name="enable_gyro"              value="true"/>
      <arg name="enable_accel"             value="true"/>

      <arg name="publish_tf"               value="$(arg publish_tf)"/>
      <arg name="tf_publish_rate"          value="$(arg tf_publish_rate)"/>

      <arg name="clip_distance"            value="-2"/>
      <arg name="linear_accel_cov"         value="1.0"/>
      <arg name="initial_reset"            value="$(arg initial_reset)"/>
      <arg name="unite_imu_method"         value="linear_interpolation"/>
      <arg name="topic_odom_in"            value="$(arg topic_odom_in)"/>
      <arg name="calib_odom_file"          value="$(arg calib_odom_file)"/>
      <arg name="publish_odom_tf"          value="true"/>
      <arg name="allow_no_texture_points"  value="false"/>
    </include>
  </group>
    
  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="ImuFilter">
		<param name="use_mag" type="bool" value="false" />
		<param name="_publish_tf" type="bool" value="false" />
		<param name="_world_frame" type="string" value="enu" />
		<remap from="/imu/data_raw" to="/camera/imu"/>
  </node>

	<include file="$(find rtabmap_ros)/launch/rtabmap.launch">
   	<arg name="args" value="--delete_db_on_start"/>

				<arg name="frame_id"                		value="base_link"/>     <!-- Fixed frame id, you may set "base_link" or "base_footprint" if they are published -->
  			<arg name="odom_frame_id"           		value=""/>                <!-- If set, TF is used to get odometry instead of the topic -->
			  <arg name="map_frame_id"            		value="map"/>
<!--			  <arg name="ground_truth_frame_id"   		value="map"/>      e.g., "world" -->
<!--			  <arg name="ground_truth_base_frame_id" 	value=""/>   e.g., "tracker", a fake frame matching the frame "frame_id" (but on different TF tree) -->
			  <arg name="database_path"           		value="~/.ros/rtabmap.db"/>
			  <arg name="queue_size"              		value="10"/>
			  <arg name="wait_for_transform"      		value="0.2"/>
			  <arg name="output"                  		value="log"/>        <!-- Control node output (screen or log) -->
			  <arg name="publish_tf_map"          		value="true"/>

  			<arg name="odom_sensor_sync"        		value="true"/>
  			<arg name="odom_guess_frame_id"     		value="t265_odom_frame"/>
        <arg name="odom_topic" 									value="odom"/>
        <arg name="rgb_topic" 									value="/d435/color/image_raw"/>
        <arg name="depth_topic" 								value="/d435/aligned_depth_to_color/image_raw"/>
        <arg name="camera_info_topic" 					value="/d435/color/camera_info"/>
        <arg name="depth_camera_info_topic" 		value="/d435/depth/camera_info"/>
        <arg name="rtabmapviz" 									value="false"/>
        <arg name="rviz" 												value="true"/>
    </include>

  <node pkg="tf" type="static_transform_publisher" name="base_to_camera" args="0 0 0 0 0 0 /base_link /camera_link 100"/>
  <node pkg="tf" type="static_transform_publisher" name="camera_link_to_d435" args="0 0 0 0 0 0 /camera_link /d435_link 100"/>
  <node pkg="tf" type="static_transform_publisher" name="odom_to_t265_odom" args="0 0 0 0 0 0 /odom /t265_odom_frame 100"/>
  <node pkg="tf" type="static_transform_publisher" name="t265_pose_to_base_link" args="0 0 0 0 0 0 /t265_pose_frame /base_link 100"/>


	<!--  alternative static tfs
  <node pkg="tf" type="static_transform_publisher" name="odom_to_base" args="0 0 0 0 0 0 /odom /base_link 100"/>
  <node pkg="tf" type="static_transform_publisher" name="base_to_camera" args="0 0 0 0 0 0 /base_link /camera_link 100"/>
  <node pkg="tf" type="static_transform_publisher" name="camera_link_to_d435" args="0 0 0 0 0 0 /camera_link /t265_odom_frame 100"/>
  <node pkg="tf" type="static_transform_publisher" name="t265_pose_to_base_link" args="0 0 0 0 0 0 /t265_pose_frame /d435_link 100"/>
    -->

	<!--  Placeholder
  <node pkg="tf2_ros" type="static_transform_publisher" name="bl_imu" args="0 0 0 1.5708 0 3.1416 base_link imu" />   
    -->

</launch>
